@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer base {
  body {
    @apply font-sans text-[15px] leading-6 text-black antialiased sm:text-base;
  }

  h1 {
    @apply text-2xl font-bold tracking-tight sm:text-3xl;
  }

  h2 {
    @apply text-lg font-semibold tracking-tight sm:text-xl;
  }

  h3 {
    @apply text-base font-semibold;
  }
}


